<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Commercial.Properties.Settings.TestConnectionString"
            connectionString="Data Source=172.16.44.14;Initial Catalog=Test;Persist Security Info=True;User ID=Applications;Password=Master01"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>